header{	
	width: 1000px;
	height: 160px;
	padding: 25px;
	border: 25px solid navy;
	margin-top: 1em;
	margin-left: 15em;
}
header > h1{
	font-family:"Comic Sans MS", cursive, sans-serif;
	color:blue;
	font-size:60px;
}
h2 + p{
    background-color: black;
}
main table{
	width: 1000px;
	height: 160px;
	padding: 25px;
	border: 25px solid navy;
}

