header{	
	width: 1000px;
	height: 160px;
	padding: 25px;
	border: 25px solid navy;
	margin-top: 1em;
	margin-left: 15em;
}
h1{
	font-family:"Comic Sans MS", cursive, sans-serif;
	color:blue;
	font-size:60px;
}
h2+p{
    background-color: black;
}
h3+p{
    background-color: black;
}
h4+p{
    background-color: black;
}
article~table{
	width: 1000px;
	height: 160px;
	padding: 25px;
	border: 25px solid navy;
	margin-top: 1em;
	margin-left: 15em;
}
