h1{
	font-family:"Comic Sans MS", cursive, sans-serif;
	color:blue;
	font-size:60px;
	background-color:#b0c4de;
	border-style:groove;
}
h2{
	font-family:"Comic Sans MS", cursive, sans-serif;
	color:blue;
	font-size:40px;
}
p{
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-size:25px;
	color:lightblue
}
footer{
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-size:25px;
	color:lightblue
}
html{
	background-image:url(http://orig13.deviantart.net/4a63/f/2013/118/2/4/tumblr_background__repeat__by_janku_roketto-d63dzsa.jpg)
}
/*
Requirements

 *Create a new file called "main.css"
 *Add a link element to the head of your index.html file
 <link rel="stylesheet" href="main.css" type="text/css">
 *Edit the main.css file
 *add a declaration for each element in the body of your index.html file.
 *add properties to style the background color of each element.
 *add properties to style the border of each element.
 *add properties to style the font of each element.
 *View your index.html in the development server.
 *Validate your index.html file.
 *Validate your main.css file.
 *Copy this list of requirements and paste it into your "main.css" file as a  css comment. Put an asterisk in front of each one that you did.
 *Upload to the production server with sftp.
 *View your index.html in the production server.
